.carritos{
    width: 100%;
    height: 100%;
    padding-bottom: 5rem;
}

.carrito__center{
    width: 90%;
    margin: 0 auto;       
}

.carrito__item{
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    width: 80%;
    margin: 2rem auto;
    box-shadow: 1px 10px 10px 2px rgba( 0, 0, 0, .2);
    border-radius: 5px;
}

.carrito__item img{
    width: 9rem;    
}

.carrito__item h3{
    margin-top: 1.5rem;
    font-weight: 600;
    font-size: 1.5rem;    
    font-family: Helvetica, sans-serif;
}

.carrito__item .price{
    color: #1a202c;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.carrito__item .iconos{
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.carrito__item .cantidad{
    font-size: 1.2rem;
    font-weight: bold;
}

.carrito__footer{
    text-align: center;  
}

.carrito__footer h3{
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
}

.carrito__footer .btn{
    display: inline-block;
    padding: .3rem 1rem;
    font-size: 1.2rem;
    background-color: #0d6efd;
    border: 0;
    outline: 0;
    cursor: pointer;
    color: linen;
    margin-left: 15px; 
}

.carrito__footer .btn:hover{
    background-color: #13499b;
    color: white;
}


@media only screen and (max-width: 1000px){

    .carrito__item{
        width: 90%;
    }

}

@media only screen and (max-width: 450px){
    .carrito__item h3{
        display: .5rem;
        font-size: 1rem;
    }

    .price{
        font-size: 1.2rem !important;
    }

    .carrito__item .remove__item{
        width: 10px;
        height: 10px;
    }
}