.info-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem; 
}

.info-header{
font-size: 1.5rem;
font-weight: 600;
}

.precio-header{
    color: red;
    font-size: 1.3rem;
    font-weight: 600;
}

.image{
    width: 10rem;
}

.bnt-detail{
    margin: 5px  !important;
    margin-top: 25px  !important;
    border: none  !important;
    background-color: rgb(57, 125, 167) !important;
    color: aliceblue !important;
    font-weight: 500  !important;
}
