.buttonCounter:focus {
        outline: none !important;
        border: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;        
}

.product{
    text-align: center;
    font-weight: bold;
    color: black;
}


  